<ul class="cards" id="cards">
               <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/9d06ff793bac52445b3e070dff69b755/" class="cards__image">
                        <img src="assets/1.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Строительство водоочестного комплекса</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/85f1458ad6deec4710f25ba223aa6b60/" class="cards__image">
                        <img src="assets/2.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Новый водовод в с.Черноземное</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/6c6cb339e0015d4effa38f7cbca28787/" class="cards__image">
                        <img src="assets/3.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Капитальный ремонт водовода в Евпатории</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/9d06ff793bac52445b3e070dff69b755/" class="cards__image">
                        <img src="assets/1.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Строительство водоочестного комплекса</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/85f1458ad6deec4710f25ba223aa6b60/" class="cards__image">
                        <img src="assets/2.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Новый водовод в с.Черноземное</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/6c6cb339e0015d4effa38f7cbca28787/" class="cards__image">
                        <img src="assets/3.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Капитальный ремонт водовода в Евпатории</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/688587a73126a7f7aef6d29403d27911/" class="cards__image">
                        <img src="assets/4.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Замена магистральных водоводов в Керчи</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/9d06ff793bac52445b3e070dff69b755/" class="cards__image">
                        <img src="assets/1.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Строительство водоочестного комплекса</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/85f1458ad6deec4710f25ba223aa6b60/" class="cards__image">
                        <img src="assets/2.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Новый водовод в с.Черноземное</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/6c6cb339e0015d4effa38f7cbca28787/" class="cards__image">
                        <img src="assets/3.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Капитальный ремонт водовода в Евпатории</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/688587a73126a7f7aef6d29403d27911/" class="cards__image">
                        <img src="assets/4.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Замена магистральных водоводов в Керчи</p>
                </li>
                  <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/85f1458ad6deec4710f25ba223aa6b60/" class="cards__image">
                        <img src="assets/2.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Новый водовод в с.Черноземное</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/6c6cb339e0015d4effa38f7cbca28787/" class="cards__image">
                        <img src="assets/3.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Капитальный ремонт водовода в Евпатории</p>
                </li>
                <li class="cards__item">
                    <a target="_blank" href="https://rutube.ru/video/688587a73126a7f7aef6d29403d27911/" class="cards__image">
                        <img src="assets/4.png" alt="Пример картинки">
                    </a>
                    <p class="cards__desc">Замена магистральных водоводов в Керчи</p>
                </li>
            </ul>