 <html>
<head>
<style>

.cards{
    display: flex;
    flex-wrap: wrap;
    
}

li.cards__item {
    list-style-type: none;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 5px;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cards__image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.cards_desc {
    margin-top: 12px;
    color: #333;
}
 
</style>
</head>
<body>
      <!--добавить код html-->
      {% include 'content.twig' %}
</body>
</html>


 
